<template>
  <div class="{{kebabCase name}}">{{pascalCase name}}</div>
</template>

<script>
export default {
  name: '{{pascalCase name}}',
  props: {},
}
</script>

<style scoped>
.{{kebabCase name}} {
}
</style>
